html[ml-is-active] input:hover + #vector-main-menu-dropdown-label,
html[ml-is-active] input:hover + #p-lang-btn-label,
html[ml-is-active] input:hover + #vector-page-tools-dropdown-label {
    background-color: var(--ml-main-button-background-color)!important;
    --ml-ignore:true;
}

html[ml-is-active] .vector-icon.mw-ui-icon-wikimedia-menu,
html[ml-is-active] img.mw-logo-wordmark:not(impt):not(.ml-ignore):not(#impt),
html[ml-is-active] img.mw-logo-tagline:not(impt):not(.ml-ignore):not(#impt),
html[ml-is-active] .cdx-search-input .cdx-text-input__icon.cdx-text-input__start-icon,
html[ml-is-active] .mw-ui-icon-wikimedia-expand,
html[ml-is-active] .vector-icon,
html[ml-is-active] .vector-dropdown .vector-dropdown-label:not(.cdx-button--icon-only)::after {
  --ml-ignore:true;
  filter: var(--ml-text-filter)!important;
}

.vector-page-titlebar::after {
  --ml-background-background-color:Text;
}

html[ml-is-active][ml-mode="simple"] .vector-sticky-pinned-container::after{
  background: transparent!important;
}